<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/inventory/home" >
        <button style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);">
            Back
        </button>
    </a>
    <br><br>
    <form action="/inventory/addEmpCommit" method="post"  style="background-color: rgba(42, 81, 83, 0.541); padding: 20px;
        padding-top: 14%;
        padding-bottom: 14%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        
        ">
            
        <center>
            

            <label for="empname" >Employee Name</label>
            <input type="text" name="empname" id="empane" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required><br><br>

            <label for="num" >Contact Number</label>
            <input type="text" name="num" id="num"  style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);" required><br><br>
            <button type="submit" style="background-color: rgb(75, 75, 75); color: rgb(108, 226, 255);">
                Submit
            </button> 
        </center>
        </form>
</body>
</html>